<%= link_to "TOPページへ", root_path, class: 'back-top' %>

<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>

<div class="form-wrap">
  <div class="form-top-wrap">
    <h1 class="form-top-text">
      新規登録（会員情報入力）
    </h1>
  </div>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="form-item">
    <div class="form-text-wrap">
      <label class="form-text"><span class="required">メールアドレス</span></label>
    </div>
    <div class="form-content">
      <%= f.email_field :email, class:"default-info", 
      id:"email", placeholder:"例 :  sample@co.jp", autofocus: true  %>
    </div>
  </div>

  <div class="form-item">
    <div class="form-text-wrap">
      <label class="form-text"><span class="required">パスワード</span></label>
    </div>
    <div class="form-content">
      <%= f.password_field :password, class:"default-info", 
      id:"password", placeholder:"例 :  パスワードを入力して下さい" %>
    </div>
  </div>

  <div class="form-item">
    <div class="form-text-wrap">
      <label class="form-text"><span class="required">パスワード確認</span></label>
    </div>
    <div class="form-content">
      <%= f.password_field :password_confirmation, class:"default-info", 
      id:"password-confirm", placeholder:"例 :  パスワードを再度入力して下さい" %>
    </div>
  </div>

  <div class="form-item">
    <div class="form-text-wrap">
      <label class="form-text"><span class="required">お名前(全角)</span></label>
    </div>
    <div class="form-content">
      <%= f.text_field :last_name, class:"default-info", 
      id:"last-name", placeholder:"例 :  鈴木" %>
      <%= f.text_field :first_name, class:"default-info", 
      id:"first-name", placeholder:"例 :  一郎" %>
    </div>
  </div>

  <div class="form-item">
    <div class="form-text-wrap">
      <label class="form-text"><span class="required">生年月日</span></label>
    </div>
    <div class="input-birth-wrap">
      <%= raw sprintf(
                  f.date_select(
                    :birthday,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1930,
                    end_year: (Time.now.year - 10),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
  </div>


  <div class="register-btn">
    <%= f.submit "会員登録", class:"register-detail" %>
  </div>

</div>

<% end %>