<%= render "shared/header" %>

<div class="personal-weight">
  <div class="transition-text">
    <h3><%= @user.first_name %>さんの体重遷移</h3>
  </div>

    <%= line_chart @weights.group_by_day(:created_at, series: false).sum(:weight), curve: false, width: "80vw", height: "50vh", xtitle: "日付", ytitle: "kg", discreate: true %>
</div>

  <p class="personal-info-top">アプリ登録時の情報</p>
<table class="personal-info">
  <tbody>

  <tr>
    <th class="personal-list"><%= @user.first_name %>さんの登録時の身長</th>
    <td class="personal-content"><%= @user.height %>cm</td>
  </tr>

  <tr>
    <th class="personal-list"><%= @user.first_name %>さんの登録時の体重</th>
    <td class="personal-content"><%= @user.initial_weight %>kg</td>
  </tr>

  <tr>
    <th class="personal-list"><%= @user.first_name %>さんのご登録日</th>
    <td class="personal-content"><%= @user.created_at.strftime("%Y-%m-%d") %></td>
  </tr>

  </tbody>
</table>