<%= link_to "TOPページへ", root_path, class: 'back-top' %>

<%= form_with model: @user, url: user_session_path, class: 'session-main', local: true do |f| %>

  <div class="form-wrap">
  <div class="form-top-wrap">
    <h1 class="form-top-text">
      ログイン
    </h1>
  </div>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="form-item">
    <div class="form-text-wrap">
      <label class="form-text"><span class="required">メールアドレス</span></label>
    </div>
    <div class="form-content">
      <%= f.email_field :email, class:"default-info", 
      id:"email", placeholder:"例 :  sample@co.jp", autofocus: true  %>
    </div>
  </div>

  <div class="form-item">
    <div class="form-text-wrap">
      <label class="form-text"><span class="required">パスワード</span></label>
    </div>
    <div class="form-content">
      <%= f.password_field :password, class:"default-info", 
      id:"password", placeholder:"例 :  パスワードを入力して下さい" %>
    </div>
  </div>

  <div class="register-btn">
    <%= f.submit "ログイン", class:"register-detail" %>
  </div>

<% end %>